{#include base}
{#title}James Platform{/title}
<section class="contact-section bg-black">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-solid fa-microchip text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">App One</h4>
            <hr class="my-4 mx-auto">
            <div class="small text-black-50">Last update: 22.10.2025 / 1.992 Items</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-solid fa-microchip text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">App Two</h4>
            <hr class="my-4 mx-auto">
            <div class="small text-black-50">Last update: 22.10.2025 / 1.992 Items</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-solid fa-microchip text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">App Three</h4>
            <hr class="my-4 mx-auto">
            <div class="small text-black-50">Last update: 22.10.2025 / 1.992 Items</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{/include}
