<button type="button" class="btn btn-app-danger btn-sm{#if extraClass} {extraClass}{/if}"{#if bsTarget} data-bs-toggle="modal" data-bs-target="{bsTarget}"{/if}{#if action} data-action="{action}"{/if}{#if entityId} data-entity-id="{entityId}"{/if}{#if propertyId} data-property-id="{propertyId}"{/if}{#if reportId} data-report-id="{reportId}"{/if}{#if username} data-username="{username}"{/if} title="{title}" aria-label="{title}" data-testid="{testId}">
  <i class="bi bi-trash" aria-hidden="true"></i>
</button>
