<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/webjars/picocss__pico/2.0.6/css/pico.min.css">
    <title>{#insert title}James Platform{/}</title>
</head>
<body>
<header class="container">
    <nav>
        <ul>
            <li><a href="#" class="secondary">...</a></li>
        </ul>
        <ul>
            <li><strong>James Platform</strong></li>
        </ul>
        <ul>
            <li><a href="#" class="secondary">...</a></li>
        </ul>
    </nav>
</header>
<main class="container">
    {#insert}!{/}
</main>
<script src="/webjars/alpinejs/3.14.8/dist/cdn.min.js" defer></script>
</body>
</html>
