{#include base}
{#title}James Platform - Dashboard{/title}
<section>
    <header>
        <h1>Welcome Home</h1>
    </header>
    <aside>
        <h2>App 1</h2>
        Add Image and Text
        <h3>Actions ...</h3>
    </aside>
    <aside>
        <h2>App 1</h2>
        Add Image and Text
        <h3>Actions ...</h3>
    </aside>
    <aside>
        <h2>App 1</h2>
        Add Image and Text
        <h3>Actions ...</h3>
    </aside>
    <aside>
        <h2>App 1</h2>
        Add Image and Text
        <h3>Actions ...</h3>
    </aside>
    <aside>
        <h2>App 1</h2>
        Add Image and Text
        <h3>Actions ...</h3>
    </aside>
    <aside>
        <h2>App 1</h2>
        Add Image and Text
        <h3>Actions ...</h3>
    </aside>
</section>
{/include}
