{#include base}
{#title}James Platform - Login{/title}
<div class="grid">
    <div>
        <article>
            <header>App 1</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 2</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 3</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 4</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 5</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
</div>
<div class="grid">
    <div>
        <article>
            <header>App 1</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 2</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 3</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 4</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 5</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
</div>
<div class="grid">
    <div>
        <article>
            <header>App 1</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 2</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 3</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 4</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 5</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
</div>
<div class="grid">
    <div>
        <article>
            <header>App 1</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 2</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 3</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 4</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 5</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
</div>
<div class="grid">
    <div>
        <article>
            <header>App 1</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 2</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 3</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 4</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 5</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
</div>
<div class="grid">
    <div>
        <article>
            <header>App 1</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 2</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 3</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 4</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
    <div>
        <article>
            <header>App 5</header>
            Add Image and Text
            <footer>Actions ...</footer>
        </article>
    </div>
</div>
{/include}
