{#include base}
{#title}James Platform - Login{/title}
{#navLeft}{/}
{#navRight}{/}
<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 class="mx-auto my-0 text-uppercase">Login</h1>
        <form action="/auth/login" method="post" style="margin-top: 2rem;">
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="usernameInput" class="form-control" placeholder="Username" name="username" required />
          </div>
          
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="passwordInput" class="form-control" placeholder="Password" name="password" required />
          </div>
          
          <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</header>
{/include}
